.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.carousel-and-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  height: 90%;
  justify-content: center;
  position: relative;
  width: 90%;
}

.avatar-img {
  position: relative;
  width: 100%;
  z-index: 50;
}

.avatar-img-mask {
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 25;
}

.current-avatar {
  margin-top: 2rem;
}
